name: Java CI with Gradle

# Define YAML anchors to keep the trigger configuration DRY and follow industry standards
x-trigger-paths: &trigger-paths
  - 'modernised/gallery/src/**'
  - 'modernised/gallery/**/*.gradle*'
  - '.github/workflows/gradle.yml'

x-ignore-paths: &ignore-paths
  - '**.md'

on:
  push:
    branches: [ "master", "develop" ]
    paths: *trigger-paths
    paths-ignore: *ignore-paths
  pull_request:
    branches: [ "master" ]
    types: [opened, synchronize, reopened]
    paths: *trigger-paths
    paths-ignore: *ignore-paths
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
    # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

    - name: Build with Gradle Wrapper
      working-directory: modernised/gallery
      run: ./gradlew build --no-daemon

  dependency-submission:
    needs: build
    if: |
        (github.event_name == 'push' && github.ref == 'refs/heads/master') ||
        (github.event_name == 'pull_request' && github.base_ref == 'master')
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    # Generates and submits a dependency graph, enabling Dependabot Alerts for all project dependencies.
    # See: https://github.com/gradle/actions/blob/main/dependency-submission/README.md
    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
      with:
        build-root-directory: modernised/gallery
